<div class="page-header" style="padding-bottom: 2%; padding-top: 2%">
	<h2>Login</h2>
</div>

<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
<div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>

<style>
	.container-fluid {
		background-color: #E5E5E5;
	}
</style>

<form name="loginForm" class="form-horizontal" novalidate>
	<div style="clear:both;">&nbsp;</div>

	<div class="container-fluid">
		<div style="clear:both;">&nbsp;</div>
		<div style="clear:both;">&nbsp;</div>
		<div class="form-group" example-has-error>
			<label for="email" class="col-sm-3 control-label">User Name:</label>
			<div class="col-sm-4">
				<input id="email" data-ng-model="credentials.email" type="text" class="form-control" example-focus
					required />
			</div>
		</div>

		<div class="form-group" example-has-error>
			<label for="password" class="col-sm-3 control-label">Password:</label>

			<div class="col-sm-4">
				<input id="password" data-ng-model="credentials.password" type="password" class="form-control"
					required />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<input type="submit" value="Log In" class="btn btn-primary" data-ng-disabled="loginForm.$invalid"
					data-ng-click="login(credentials)" />
			</div>
		</div>
		
		<div style="clear:both;">&nbsp;</div>
	</div>
</form>