<div data-ng-init="init()">
    <div ng-hide="selectedProduct">
        <div style="padding-bottom: 1%; padding-top: 2%">
            <h2>Search Products</h2>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2">Count Total</label>
                <div class="col-xs-10 form-control-static">
                    {{data.totalCount}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Search by Name</label>
                <div class="col-xs-3">
                    <input type="text" ng-model="search" class="form-control" placeholder="Search by name">
                </div>
                <div class="col-xs-3 pull-right">
                    <button data-ng-disabled="progress.active()" data-ng-click="new()"
                        class="btn btn-default pull-right">Create</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th ng-click="sort('id')">Id
                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('platform')">Platform
                        <span class="glyphicon sort-icon" ng-show="sortKey=='platform'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('incidentName')">Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='incidentName'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('clientName')">Client Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='clientName'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('shortName')">Short Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='shortName'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('owner')">Owner
                        <span class="glyphicon sort-icon" ng-show="sortKey=='owner'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('startDate')">Start Date
                        <span class="glyphicon sort-icon" ng-show="sortKey=='startDate'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('endDate')">End Date
                        <span class="glyphicon sort-icon" ng-show="sortKey=='endDate'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('maxWeeklyUptime')">Max Weekly Uptime
                        <span class="glyphicon sort-icon" ng-show="sortKey=='maxWeeklyUptime'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('revenue')">Revenue %
                        <span class="glyphicon sort-icon" ng-show="sortKey=='revenue'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('users')">User %
                        <span class="glyphicon sort-icon" ng-show="sortKey=='users'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="btn-link" dir-paginate="product in data.results|orderBy:sortKey:reverse|itemsPerPage:10"
                    total-items="data.totalCount" ng-click="select(product)" current-page="currentPage">
                    <td>{{product.id}}</td>
                    <td>{{product.platform}}</td>
                    <td>{{product.incidentName}}</td>
                    <td>{{product.clientName}}</td>
                    <td>{{product.shortName}}</td>
                    <td>{{product.owner}}</td>
                    <td>{{product.startDate | dateFormatMinusTime}}</td>
                    <td>{{product.endDate | dateFormatMinusTime}}</td>
                    <td>{{product.maxWeeklyUptime}}</td>
                    <td>{{product.revenue | percentage}}</td>
                    <td>{{product.users | percentage}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
            on-page-change="getData(newPageNumber)">
        </dir-pagination-controls>
    </div>
    <form class="form-horizontal" name="productForm" ng-show="selectedProduct">
        <div>
            <a href="#" class="" onclick="event.preventDefault();" ng-click="cancel()">
                <img src="/plattrk/resources/images/back.jpg" width="50" height="50" />
            </a>
        </div>
        <div ng-hide="loading">
            <div class="row" style="padding-bottom: 1%; padding-top: 2%">
                <div class="col-sm-12">
                    <progressbar class="progress-striped active" max="200" value="200" type="info">
                        <i>Saving Product....</i></progressbar>
                </div>
            </div>
        </div>
        <div>
            <h2>Product Detail</h2>
        </div>
        <div ng-hide="hideDuringLoading">
            <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
            <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Platform</label>
                <div class="col-sm-6">
                    <select name="platform" required data-ng-model="selectedProduct.platform" class="form-control"
                        ng-options="c.name as c.name for c in platforms">
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : productForm.incidentName.$invalid && submitted }">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" name="incidentName" class="form-control" ng-model="selectedProduct.incidentName"
                        ng-maxlength="50" ng-required="incidentNameRequired" required />
                    <p ng-show="productForm.incidentName.$error.maxlength" class="help-block">Incident
                        Name is too long.</p>
                    <p ng-show="productForm.incidentName.$error.required" class="help-block">Required.
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : productForm.clientName.$invalid && submitted }">
                <label class="col-sm-2 control-label">Client Name</label>
                <div class="col-sm-6">
                    <input type="text" name="clientName" class="form-control" ng-model="selectedProduct.clientName"
                        ng-required="clientNameRequired" required />
                    <p ng-show="productForm.clientName.$error.required" class="help-block">Required.
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : productForm.shortName.$invalid && submitted }">
                <label class="col-sm-2 control-label">Short Name</label>
                <div class="col-sm-6">
                    <input type="text" name="shortName" class="form-control" ng-model="selectedProduct.shortName"
                        ng-required="shortNameRequired" required />
                    <p ng-show="productForm.shortName.$error.required" class="help-block">Required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-6">
                    <div multi-select input-model="owners" button-label="userName" helper-elements="filter"
                        output-model="ownerList" item-label="userName" tick-property="ticked" selection-mode="single">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : productForm.startDate.$invalid && submitted }">
                <label class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-6">
                    <input type="date" name="startDate" class="form-control" ng-model="selectedProduct.startDate"
                        ng-required="startDateRequired" required />
                    <p ng-show="productForm.startDate.$error.required" class="help-block">Required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-6">
                    <input type="date" name="endDate" class="form-control" ng-model="selectedProduct.endDate">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Max Weekly Uptime</label>
                <div class="col-sm-6">
                    <input type="text" name="maxWeeklyUptime" placeholder="Enter a Number" class="form-control"
                        ng-model="selectedProduct.maxWeeklyUptime" only-digits required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Revenue %</label>
                <div class="col-sm-6">
                    <input type="text" name="revenue" placeholder="Enter a Number" class="form-control"
                        ng-model="selectedProduct.revenue" only-digits>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">User %</label>
                <div class="col-sm-6">
                    <input type="text" name="user" placeholder="Enter a Number" class="form-control"
                        ng-model="selectedProduct.users" only-digits>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-show="!disableButton" ng-click="updateInSearch()">Save</button>
                    <button class="btn btn-primary" ng-show="!disableButton" ng-click="showOnDelete()">Delete</button>
                    <button class="btn btn-primary" ng-click="cancel()">Back</button>
                </div>
            </div>
        </div>
    </form>
</div>