<div data-ng-controller="ResolutionChildController" class="table table-condensed">
    <div ng-hide="loading" style="padding-bottom: 1%; padding-top: 4%">
        <div class="row">
            <div class="col-sm-12">
                <progressbar class="progress-striped active" max="200" value="200" type="info"><i>Creating Resolution....</i>
                </progressbar>
            </div>
        </div>
    </div>
    <div ng-hide="hideDuringLoading">
        <div style="padding-bottom: 1%; padding-top: 2%">
            <h2>Create Resolution</h2>
        </div>
        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
        <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
        <form class="form-horizontal" name="resolutionForm" novalidate role="form">
            <div data-ng-init="createSetup()">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Incident Group Name</label>
                    <div name="name" class="col-sm-6 form-control-static">
                        {{selectedGroup.name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Horizon</label>
                    <div class="col-sm-6">
                        <select required name="horizon" class="form-control" ng-model="resolution.horizon"
                            ng-options="item.displayName for item in horizons">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ownerRequired && submitted }">
                    <label class="col-sm-2 control-label">Owner</label>
                    <div class="col-sm-6">
                        <div required multi-select input-model="owners" button-label="userName" helper-elements="filter"
                            output-model="ownerList" item-label="userName" tick-property="ticked"
                            selection-mode="single">
                        </div>
                        <p ng-show="ownerRequired" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-6">
                        <select required name="status" class="form-control" ng-model="resolution.status"
                            ng-options="item.displayName for item in statuses">
                        </select>
                    </div>
                </div>
                <div class="form-group"
                    ng-class="{ 'has-error' : resolutionForm.estCompletionDate.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Estimated Completion Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="estCompletionDate" class="form-control"
                            ng-model="resolution.estCompletionDate" required ng-required="estCompletionDateRequired" />
                        <p ng-show="resolutionForm.estCompletionDate.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Actual Completion Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="actualCompletionDate" class="form-control"
                            ng-model="resolution.actualCompletionDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-6">
                        <select name="type" class="form-control" ng-model="resolution.type"
                            ng-options="item.displayName for item in types">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">SRI Artifact</label>
                    <div class="col-sm-6">
                        <input type="text" name="sriArtifact" class="form-control" ng-model="resolution.sriArtifact">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : resolutionForm.description.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea required type="text" name="description" class="form-control" rows="5"
                            ng-model="resolution.description" ng-required="descriptionRequired">
                        </textarea>
                        <p ng-show="resolutionForm.description.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" data-ng-disabled="progress.active()" data-ng-click="submit()"
                            ng-show="!disableButton">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>