<div>
	<h2>Search Resolutions</h2>
</div>
<link rel="stylesheet" type="text/css"
	href="resources/css/ng-grid/styles.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/ng-grid/ng-grid.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/ng-grid/jquery-ui.css">

<div data-ng-init="init()">
	<table class="table table-responsive" class="form-control">

		<tr>
			<td class="editable-content table-responsive">
				<div class="pull-left">
					<strong>Filter:&nbsp;</strong><input type="text"
						class="form-control" ng-model="filterOptions.filterText" />
				</div>
			</td>
			<td><br />
				<div class="pull-right">
					<button data-ng-disabled="progress.active()" data-ng-click="new()"
						class="btn btn-default ">Create</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</div>
		</tr>
	</table>
	
	<div class="gridStyle" ng-grid="gridOptions"></div>


</div>