<div>
       <h2>Create Incident</h2>
</div>

<div data-ng-controller="IncidentController">
  <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>  
  <div id="messages" class="alert alert-danger" data-ng-show="errormessages" data-ng-bind="errormessages"></div>
  <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
  
  <form class="form-horizontal" name="helpForm" novalidate role="form">
  
   <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
                   <button class="btn btn-primary pull-right" data-ng-disabled="progress.active()" 
                        		data-ng-click="generateTag()">
                            Generate Tag
                   </button>
             </div>
   </div>
  
   <div class="form-group">
     <label class="col-sm-2 control-label">Tag</label>
     <div class="col-md-3 form-control-static">
               {{tag}}
     </div>
     <label class="col-sm-1 control-label">Recorded By</label>
  	 <div class="col-sm-3 form-control-static">
   		 {{recordedBy}}
  	 </div>
   </div>
   
   <div class="form-group">
       <label class="col-sm-2 control-label">Group</label>
          <div class="col-sm-7">
               <input type="text" ng-model="incidentGroup" typeahead="group.name for group in groups | filter:$viewValue | orderBy: 'name'" class="form-control" >
          </div>
   </div>
   
   <div class="form-group">
   		<label class="col-sm-2 control-label">Status</label>
    	<div class="col-sm-3">
    		<select class="form-control" ng-model="selectedStatus" ng-options="incidentstatus.name for incidentstatus in incidentstatuss"></select>
  		</div>  
  		<label class="col-sm-1 control-label">Email RCPT</label>
  		<div class="col-sm-3">
    		<select class="form-control" ng-model="selectedRecipents" ng-options="recipent.name for recipent in recipents"></select>
  		</div>
   </div>
   
   <div ng-show="showResolution">
   		<div class="form-group">
		<label class="col-sm-2 control-label">Corrective Action</label>
          <div class="col-sm-7">
                <textarea type="text"
                                  class="form-control"
                                  rows="3"
                                  ng-model="correctiveAction"></textarea>
          </div>
         </div> 
   </div>
   
   <div class="form-group">
         <label class="col-sm-2 control-label">Start Date Time</label>
         <div class="col-md-3">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="MM-dd-yyyy HH:mm" ng-model="startTime" is-open="open.startTime" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startTime')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
         </div>
         <label class="col-sm-1 control-label">End Date Time</label>
         <div class="col-md-3">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="MM-dd-yyyy HH:mm" ng-model="endTime" is-open="open.endTime" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endTime')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
         </div>   
  </div>
   
   <div class="form-group">
       <label class="col-sm-2 control-label">Severity</label>
       <div class="col-sm-3">
              	<select class="form-control" ng-model="selectedOption" ng-options="option.name for option in options">
   		      	</select>
       </div>
       <label class="col-sm-1 control-label">Application Status</label>
       <div class="col-sm-3">
              	<select class="form-control" ng-model="selectedApplicationStatus" ng-options="applicationStatus.displayName for applicationStatus in applicationStatuses">
   		 	  	</select>
        </div>
   </div>
   
   <div class="form-group">
   	   <label class="col-sm-2 control-label">Locus</label>
   	   <div class="col-sm-3">
   	   			<select class="form-control" ng-model="selectedLocus" ng-options="locus.name for locus in locuss">
   		    	</select>
       </div>
       <label class="col-sm-1 control-label">Transaction IDs Impacted</label>
       <div class="col-sm-3">
				<input type="text" class="form-control" ng-model="transactionIdsImpacted">
       </div>
   </div>
   
   <div class="form-group">
        <label class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="reportOwner">
        </div>
	   	<label class="col-sm-1 control-label">Name</label>
       	<div class="col-sm-3">
                <input type="text" class="form-control" ng-model="name">
        </div>
   </div>
    
   <div class="form-group">
     <label class="col-sm-2 control-label">Business Description</label>
            <div class="col-sm-7">
                <textarea type="text"
                                  class="form-control"
                                  rows="5"
                                  ng-model="summary"></textarea>
            </div>
   </div>
   
   <div class="form-group">
     <label class="col-sm-2 control-label">Technical Description</label>
            <div class="col-sm-7">
                <textarea type="text"
                                  class="form-control"
                                  rows="5"
                                  ng-model="description"></textarea>
            </div>
   </div>
   
   <div class="form-group">
   	  <label class="col-sm-2 control-label">Error Condition</label>
      <div class="col-sm-3">
         <select class="form-control" ng-model="selectedError" ng-options="error.name for error in errors">
   		 </select>
      </div>
      <label class="col-sm-1 control-label">Alerted By</label>
      <div class="col-sm-3">
         <select class="form-control" ng-model="selectedAlertedBy" ng-options="alerted_by.name for alerted_by in alerted_bys">
   	     </select>
      </div>
   </div>
   
   <div class="form-group">
   <label class="col-sm-2 control-label"></label>
   		<div class="col-sm-7">
   			<bs-select required ng-model="selectedProducts" default-text="Select Associated Product(s).." text-field="shortName" value-field="id" items="myProducts">
   			</bs-select>
   		</div>
   </div>  
   
   <div class="form-group">
       <label class="col-sm-2 control-label">% of Users Impacted</label>
       <div class="col-sm-3">
             <input type="text" class="form-control" ng-model="usersImpacted">
       </div>
       <label class="col-sm-1 control-label">Calls Rec'd</label>
       <div class="col-sm-3">
             <input type="text" class="form-control" ng-model="callsReceived">
       </div>
   </div>
   
   <div class="form-group">
     <label class="col-sm-2 control-label">Customer Impact</label>
            <div class="col-sm-7">
                <textarea type="text"
                                  class="form-control"
                                  rows="3"
                                  ng-model="customerImpact"></textarea>
            </div>
   </div>

   <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
                   <button class="btn btn-primary" data-ng-disabled="progress.active()" 
                        		data-ng-click="submit(helpForm)">
                            Submit
                   </button>
                   <a href="#/main" class="btn btn-primary">Back</a>
             </div>
     </div>

<!-- <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">Submit</button> -->   
  </form>
</div>
   