<div data-ng-controller="IncidentController">

  <div>
    <h2>Create Incident</h2>
  </div>

  <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
  <div id="messages" class="alert alert-danger" data-ng-show="errormessages" data-ng-bind="errormessages"></div>
  <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>

  <form class="form-horizontal" name="helpForm" novalidate role="form">
    <div data-ng-init="createSetup()">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary pull-right" data-ng-disabled="progress.active()" data-ng-click="generateTag()">
            Generate Tag
          </button>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Tag</label>
        <div class="col-md-3 form-control-static">{{incident.tag}}</div>
        <label class="col-sm-1 control-label">Recorded By</label>
        <div class="col-sm-3 form-control-static">{{incident.recordedBy}}</div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Group</label>
        <div class="col-sm-7">
          <input type="text" ng-model="incident.incidentGroup"
            typeahead="group.name for group in groups | filter:$viewValue | orderBy: 'name'" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.status"
            ng-options="incidentstatus.name for incidentstatus in incidentstatuss">
          </select>
        </div>
        <label class="col-sm-1 control-label">Email RCPT</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.emailRecipents"
            ng-options="recipent.name for recipent in recipents">
          </select>
        </div>
      </div>

      <div ng-show="showResolution">
        <div class="form-group">
          <label class="col-sm-2 control-label">Corrective Action</label>
          <div class="col-sm-7">
            <textarea type="text" class="form-control" rows="3" ng-model="incident.correctiveAction"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Start Date Time</label>
        <div class="col-md-3">
          <p class="input-group">
            <input type="text" class="form-control" datetime-picker="MM-dd-yyyy HH:mm" ng-model="incident.startTime"
              is-open="open.startTime" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startTime')">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <label class="col-sm-1 control-label">End Date Time</label>
        <div class="col-md-3">
          <p class="input-group">
            <input type="text" class="form-control" datetime-picker="MM-dd-yyyy HH:mm" ng-model="incident.endTime"
              is-open="open.endTime" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endTime')">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Severity</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.severity"
            ng-options="severity.name for severity in severities">
          </select>
        </div>
        <label class="col-sm-1 control-label">Application Status</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.applicationStatus"
            ng-options="applicationStatus.displayName for applicationStatus in applicationStatuses">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Locus</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.locus" ng-options="locus.name for locus in locuss">
          </select>
        </div>
        <label class="col-sm-1 control-label">Transaction IDs Impacted</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="incident.transactionIdsImpacted">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="incident.reportOwner">
        </div>
        <label class="col-sm-1 control-label">Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Business Description</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" rows="5" ng-model="incident.summary"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Technical Description</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" rows="5" ng-model="incident.description"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Error Condition</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.error" ng-options="error.name for error in errors">
          </select>
        </div>
        <label class="col-sm-1 control-label">Alerted By</label>
        <div class="col-sm-3">
          <select class="form-control" ng-model="incident.alertedBy"
            ng-options="alerted_by.name for alerted_by in alerted_bys">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-7">
          <bs-select required ng-model="products" default-text="Select Associated Product(s).." text-field="shortName"
            value-field="id" items="myProducts">
          </bs-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">% of Users Impacted</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="incident.usersImpacted">
        </div>
        <label class="col-sm-1 control-label">Calls Rec'd</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="incident.usersImpacted">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Customer Impact</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" rows="3" ng-model="incident.customerImpact"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" data-ng-disabled="progress.active()" ng-show="!disableButton"
            data-ng-click="submit(helpForm)">
            Submit
          </button>
          <a href="#/incident/globalsearch" class="btn btn-primary">Back</a>
        </div>
      </div>
    </div>
  </form>
</div>