<div data-ng-controller="IncidentFromGroupController" data-ng-init="init()">
    <div style="padding-bottom: 1%; padding-top: 2%">
        <h2>Incident Group Search</h2>
    </div>
    <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
    <form class="form-horizontal" name="helpForm" novalidate role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Current Selected Group</label>
            <div class="col-sm-6 form-control-static">{{selectedGroup.name}}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Group Name</label>
            <div class="col-sm-6">
                <select ng-change="changedGroup();tableParams.sorting({})" ng-model="selectedGroup" class="form-control"
                    ng-options="group.name for group in groups | orderBy: 'name'">
                </select>
            </div>
        </div>
    </form>
    <div class="form-group">
        <label class="control-label pull-left">Count Total:</label>
        <div class="col-sm-7 form-control-static">{{tableParams.total()}}</div>
    </div>
    <div style="clear:both;">&nbsp;</div>
    <div>
        <button ng-click="tableParams.sorting({})" class="btn btn-primary pull-right">Clear sorting</button>
        <button ng-click="tableParams.filter({})" class="btn btn-primary pull-right">Clear filter</button>
        <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
            <p><strong>Filter:</strong> {{tableParams.filter()|json}}
                <table ng-table="tableParams" show-filter="true"
                    class="table table-striped table-hover table-condensed">
                    <tbody>
                        <tr class="btn-link" ng-repeat="incident in $data"
                            ng-click="select(incident, 'fromsearchbygroup')">
                            <td data-title="'Id'" sortable="'id'">{{incident.id}}</td>
                            <td data-title="'Tag'" sortable="'tag'" filter="{ 'tag': 'text' }">{{incident.tag}}</td>
                            <td data-title="'Status'" sortable="'status'">{{incident.status | closed}}</td>
                            <td data-title="'Sev'" sortable="'severity'">{{incident.severity}}</td>
                            <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text'}">
                                <div my-qtip qtip-content="{{incident.description + ' ' + incident.summary}}">
                                    {{incident.description + " " + incident.summary | addEllipsis}}
                                </div>
                            </td>
                            <td data-title="'Error'" sortable="'error'">{{incident.error.name}}</td>
                            <td data-title="'Locus'" sortable="'locus'">{{incident.locus}}</td>
                            <td data-title="'Start Time'" sortable="'startTime'">{{incident.startTime | dateFormat}}
                            </td>
                            <td data-title="'End Time'" sortable="'endTime'">{{incident.endTime | dateFormat}}</td>
                            <td data-title="'Users Imped'" sortable="'usersImpacted'">
                                {{incident.usersImpacted | percentage}}</td>
                            <td data-title="'Calls'" sortable="'callsReceived'">{{incident.callsReceived}}</td>
                            <td data-title="'AlertedBy'" sortable="'alertedBy'">{{incident.alertedBy}}</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>