<div data-ng-controller="RootCauseController">
    <div>
        <a href="#" class="" onclick="event.preventDefault()" ng-click="cancel()">
            <img src="/plattrk/resources/images/back.jpg" width="50" height="50" />
        </a>
    </div>
    <div ng-hide="loading">
        <div class="row" style="padding-bottom: 1%; padding-top: 2%">
            <div class="col-sm-12">
                <progressbar class="progress-striped active" max="200" value="200" type="info"><i>Saving Root Cause....</i>
                </progressbar>
            </div>
        </div>
    </div>
    <div ng-hide="hideDuringLoading">
        <div>
            <h2>Root Cause Detail</h2>
        </div>
        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
        <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
        <div data-ng-init="getRca()">
            <form class="form-horizontal" name="rootCauseForm" novalidate role="form">
                <div class="form-group" ng-class="{ 'has-error' : rootCauseForm.name.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Incident Group Name</label>
                    <div class="col-sm-6">
                        <select required name="name" class="form-control" ng-model="rca.incidentGroup"
                            ng-options="group.name for group in groups | orderBy: 'name'" ng-required="nameRequired">
                        </select>
                        <p ng-show="rootCauseForm.name.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-6">
                        <select required name="status" class="form-control" ng-model="rca.status"
                            ng-options="item.displayName for item in status">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ownerRequired && submitted }">
                    <label class="col-sm-2 control-label">Owner</label>
                    <div class="col-sm-6">
                        <div required multi-select input-model="owners" button-label="userName" helper-elements="filter"
                            output-model="ownerList" item-label="userName" tick-property="ticked"
                            selection-mode="single">
                        </div>
                        <p ng-show="ownerRequired" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Problem Description</label>
                    <div class="col-sm-6">
                        <textarea type="text" name="description" class="form-control" rows="5" ng-model="rca.problem"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Why's?</label>
                    <div class="col-sm-6">
                        <div class="panel-content">
                            <div>
                                <table class="table table-responsive" class="form-control">
                                    <tr ng-repeat="why in whys | filter:filterWhy">
                                    <tr ng-repeat="why in whys | filter:filterWhy">
                                        <td class=" editable-content table-responsive"><textarea type="text"
                                                class="form-control" rows="3" ng-model="why.name"></textarea></td>

                                        <td><button type="button" ng-show="!tableform.$visible"
                                                ng-click="deleteWhy(why.id)"
                                                class="btn btn-primary pull-right form-control">Delete
                                                Why</button></td>
                                    </tr>
                                </table>
                                <button type="button" ng-disabled="tableform.$waiting" ng-click="addWhy()"
                                    class="btn btn-primary ">Add Why</button>
                                <br /> <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Due Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="dueDate" ng-model="rca.dueDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Completion Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="completionDate" ng-model="rca.completionDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="category" ng-model="rca.category"
                            ng-options="item.displayName for item in categories">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Resource</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="resource" ng-model="rca.resource"
                            ng-options="item.displayName for item in resources">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="update(rca)" ng-show="!back">Save</button>
                        <button class="btn btn-primary" ng-click="delete(rca)" ng-show="!back">Delete</button>
                        <button class="btn btn-primary" data-ng-disabled="progress.active()"
                            data-ng-click="cancel()">Back</button>
                        <button class="btn btn-primary" ng-click="createResolution(rca)" ng-show="!back">Create
                            Resolution</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>