<div data-ng-controller="ProjectController" class="table table-condensed">
    <div>
        <a href="#" class="" onclick="event.preventDefault();" ng-click="cancel()">
            <img src="/plattrk/resources/images/back.jpg" width="50" height="50" />
        </a>
    </div>
    <div ng-hide="loading">
        <div class="row" style="padding-bottom: 1%; padding-top: 2%">
            <div class="col-sm-12">
                <progressbar class="progress-striped active" max="200" value="200" type="info"><i>Creating Project....</i>
                </progressbar>
            </div>
        </div>
    </div>
    <div ng-hide="hideDuringLoading">
        <div>
            <h2>Create Project</h2>
        </div>
        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
        <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
        <form class="form-horizontal" name="projectForm" novalidate role="form">
            <div data-ng-init="createSetup()">
                <div class="form-group" ng-class="{ 'has-error' : projectForm.name.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6">
                        <input type="text" name="name" ng-model="project.name" class="form-control"
                            ng-required="nameRequired" required />
                        <p ng-show="projectForm.name.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-6">
                        <select name="status" ng-model="project.status" ng-options="item.displayName for item in status"
                            class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ownerRequired && submitted }">
                    <label class="col-sm-2 control-label">Owner</label>
                    <div class="col-sm-7" name="owner">
                        <div multi-select input-model="owners" button-label="userName" helper-elements="filter"
                            output-model="ownerList" item-label="userName" tick-property="ticked"
                            selection-mode="single">
                        </div>
                        <p ng-show="ownerRequired" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">PDLC Status</label>
                    <div class="col-sm-6">
                        <select name="PDLCStatus" ng-model="project.pdlcStatus"
                            ng-options="item.displayName for item in pdlcStatus" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">ECDE ID</label>
                    <div class="col-sm-6">
                        <input type="text" name="ECDEID" placeholder="Enter a Number" ng-model="project.ecdeId"
                            class="form-control" only-digits />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : projectForm.recordingDate.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Recording Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="recordingDate" ng-model="project.recordingDate" class="form-control"
                            ng-required="recordingDateRequired" required />
                        <p ng-show="projectForm.recordingDate.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status Change Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="statusChangeDate" ng-model="project.statusChangeDate"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : projectForm.description.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea required type="text" name="description" rows="5" ng-model="project.description"
                            class="form-control" ng-required="descriptionRequired"></textarea>
                        <p ng-show="projectForm.description.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : projectForm.dueDate.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Due Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="dueDate" ng-model="project.estCompletionDate" class="form-control"
                            ng-required="dueDateRequired" required />
                        <p ng-show="projectForm.dueDate.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Completion Date</label>
                    <div class="col-sm-6">
                        <input type="date" name="completionDate" class="form-control"
                            ng-model="project.actualCompletionDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Solution Type</label>
                    <div class="col-sm-6">
                        <select name="solutionType" ng-model="project.wikiType"
                            ng-options="item.displayName for item in wikiTypes" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Estimate Effort</label>
                    <div class="col-sm-6">
                        <input type="text" name="estimateEffort" placeholder="Enter a Number"
                            ng-model="project.estEffort" class="form-control" only-digits>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Actual Effort</label>
                    <div class="col-sm-6">
                        <input type="text" name="actualEffort" placeholder="Enter a Number"
                            ng-model="project.actualEffort" class="form-control" only-digits>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Confluence ID</label>
                    <div class="col-sm-6">
                        <input type="text" name="confluenceId" placeholder="Enter a Number"
                            ng-model="project.confluenceId" class="form-control" only-digits>
                    </div>
                </div>
                <div class="form-group" class="form-control">
                    <label class="col-sm-2 control-label">Jira ID</label>
                    <div class="col-sm-6">
                        <input type="text" name="jiraId" ng-model="project.jiraId" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" data-ng-disabled="progress.active()"
                            data-ng-click="update(project)" ng-show="!back">Submit
                        </button>
                        <button class="btn btn-primary" data-ng-disabled="progress.active()" data-ng-click="cancel()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>