<div data-ng-controller="ProjectController" class="table table-condensed">
    <div ng-hide="loading">
        <div class="row">
            <div style="clear:both;">&nbsp;</div>
            <div class="col-sm-12">
                <progressbar class="progress-striped active" max="200" value="200" type="info"><i>SAVING....</i>
                </progressbar>
                <div style="clear:both;">&nbsp;</div>
            </div>
        </div>
    </div>
    <div ng-hide="hideduringloading">
        <div style="padding-bottom: 1%; padding-top: 2%">
            <h2>Project Detail</h2>
        </div>
        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
        <div id="messages" class="alert alert-danger" data-ng-show="errormessages" data-ng-bind="errormessages"></div>
        <form class="form-horizontal" name="helpForm" novalidate role="form">
            <div data-ng-init="getProject()"></div>
            <div class="form-group" class="form-control">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="project.name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-6">
                    <select ng-model="project.status" ng-options="item.displayName for item in status"
                        class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-7">
                    <div multi-select input-model="owners" button-label="userName" helper-elements="filter"
                        output-model="ownerlist" item-label="userName" tick-property="ticked" selection-mode="single"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">PDLC Status</label>
                <div class="col-sm-6">
                    <select ng-model="project.pdlcStatus" ng-options="item.displayName for item in pdlcStatus"
                        class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ECDE ID</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="project.ecdeId" required class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Recording Date</label>
                <div class="col-sm-6">
                    <input type="date" ng-model="project.recordingDate" class="form-control" required />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Status Change Date</label>
                <div class="col-sm-6">
                    <input type="date" ng-model="project.statusChangeDate" class="form-control" required />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <textarea type="text" rows="5" ng-model="project.description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Due Date</label>
                <div class="col-sm-6">
                    <input type="date" ng-model="project.estCompletionDate" class="form-control" required />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Completion Date</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" ng-model="project.actualCompletionDate" required />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Solution Type</label>
                <div class="col-sm-6">
                    <select ng-model="project.wikiType" ng-options="item.displayName for item in wikiTypes"
                        class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Estimate Effort</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="project.estEffort" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Actual Effort</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="project.actualEffort" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confluence ID</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="project.confluenceId" class="form-control">
                </div>
            </div>
            <div class="form-group" class="form-control">
                <label class="col-sm-2 control-label">Jira ID</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="project.jiraId" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" data-ng-disabled="progress.active()" data-ng-click="update(project)"
                        ng-show="!back">Save</button>
                    <button class="btn btn-primary" data-ng-disabled="progress.active()" data-ng-click="delete(project)"
                        ng-show="!back">Delete</button>
                    <button class="btn btn-primary" data-ng-disabled="progress.active()"
                        data-ng-click="cancel()">Back</button>
                    <button class="btn btn-primary" data-ng-disabled="progress.active()"
                        data-ng-click="linkResolutions(project)" ng-show="!back">Link Resolutions</button>
                </div>
            </div>
        </form>
    </div>
</div>