<div data-ng-init="init()">
    <div style="padding-bottom: 1%; padding-top: 2%">
        <h2>Search Projects</h2>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-2">Count Total</label>
            <div class="col-xs-10 form-control-static">
                {{data.total_count}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Search by Name</label>
            <div class="col-xs-3">
                <input type="text" ng-model="search" class="form-control" placeholder="Search by name">
            </div>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-click="sort('id')">Id
                    <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('name')">Name
                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('status.displayName')">Status
                    <span class="glyphicon sort-icon" ng-show="sortKey=='status.displayName'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('owners')">Owner
                    <span class="glyphicon sort-icon" ng-show="sortKey=='owners'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('pdlcStatus.displayName')">PDLC Status
                    <span class="glyphicon sort-icon" ng-show="sortKey=='pdlcStatus.displayName'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('recordingDate')">Recording Date
                    <span class="glyphicon sort-icon" ng-show="sortKey=='recordingDate'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('pdlcStatus.statusChangeDate')">Status Change Date
                    <span class="glyphicon sort-icon" ng-show="sortKey=='pdlcStatus.statusChangeDate'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('estCompletionDate')">Due Date
                    <span class="glyphicon sort-icon" ng-show="sortKey=='estCompletionDate'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('actualCompletionDate')">Completion Date
                    <span class="glyphicon sort-icon" ng-show="sortKey=='actualCompletionDate'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('estEffort')">Estimate Effort
                    <span class="glyphicon sort-icon" ng-show="sortKey=='estEffort'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('actualEffort')">Actual Effort
                    <span class="glyphicon sort-icon" ng-show="sortKey=='actualEffort'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('confluenceId')">Confluence ID
                    <span class="glyphicon sort-icon" ng-show="sortKey=='confluenceId'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('jiraId')">Jira ID
                    <span class="glyphicon sort-icon" ng-show="sortKey=='jiraId'"
                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="btn-link" dir-paginate="project in data.results|orderBy:sortKey:reverse|itemsPerPage:10"
                total-items="data.total_count" ng-click="select(project.id)" current-page="currentPage">
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>{{project.status.displayName}}</td>
                <td>{{project.owners}}</td>
                <td>{{project.pdlcStatus.displayName}}</td>
                <td>{{project.recordingDate | dateFormatMinusTime}}</td>
                <td>{{project.pdlcStatus.statusChangeDate}}</td>
                <td>{{project.estCompletionDate | dateFormatMinusTime}}</td>
                <td>{{project.actualCompletionDate | dateFormatMinusTime}}</td>
                <td>{{project.estEffort}}</td>
                <td>{{project.actualEffort}}</td>
                <td>{{project.confluenceId}}</td>
                <td>{{project.jiraId}}</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
        on-page-change="getData(newPageNumber)">
    </dir-pagination-controls>
</div>