<style>
body {
	margin-top:80px;
}

</style>

<div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/main"><img class="resize" src="/plattrk/resources/images/home.png" /></a>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown dropdown-large">
			    <a class="dropdown-toggle" data-toggle="dropdown"><b>Incident </b> <span class="caret"></span></a>
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Incident</li>
                            <li><a href='#/incident/create'>Create</a></li>
							<li><a ng-href="{{link}}" ng-click="$event.preventDefault(); clearLocalStorage(); linkClicked('/incident/search');">Search</a></li>
                            <li><a ng-href="{{link}}" ng-click="$event.preventDefault(); linkClicked('/incident/fromgroupsearch')">Search By Group</a></li>         				
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
                            <li class="dropdown-header">Group</li>
                            <li><a ng-href="{{link}}" ng-click="$event.preventDefault(); linkClicked('/incident/incidentgroupsearch')">Search</a>
              				<li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
              				<li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header"></li>
							<li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>
						</ul>
					</li>
				</ul>
			</li>
            <li class="dropdown dropdown-large">
            	<a class="dropdown-toggle" data-toggle="dropdown"><b>Resolution </b> <span class="caret"></span></a>
            	<ul class="dropdown-menu dropdown-menu-large row">
                   <li class="col-sm-3"> 
                       <ul>
                            <li class="dropdown-header">Resolution</li>
            	            <li><a href='#/resolution/create'>Create</a></li>
                            <li><a href='#/resolution/search'>Search</a></li>
                            <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                        </ul>
                    </li>
					<li class="col-sm-3">
						<ul>
              				<li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
              				<li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header"></li>
							<li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>
						</ul>
					</li>
                </ul>
            </li>
            <li class="dropdown dropdown-large">
            	<a class="dropdown-toggle" data-toggle="dropdown"><b>Root Cause </b> <span class="caret"></span></a>
            	<ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-3"> 
                        <ul>
                             <li class="dropdown-header">Root Cause</li>
                             <li><a href='#/rootcause/create'>Create</a></li>
                             <li><a href='#/rootcause/search'>Search</a></li>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                             <li class="dropdown-header"></li>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>
                         </ul>
                     </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large">
            	<a class="dropdown-toggle" data-toggle="dropdown"><b>Project </b> <span class="caret"></span></a>
            	<ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-3"> 
                        <ul>
                             <li class="dropdown-header">Project</li>
                             <li><a href='#/project/create'>Create</a></li>
                             <li><a href='#/project/search'>Search</a></li>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                             <li class="dropdown-header"></li>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>
                         </ul>
                     </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large">
            	<a class="dropdown-toggle" data-toggle="dropdown"><b>Product </b> <span class="caret"></span></a>
            	<ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-3"> 
                        <ul>
                             <li class="dropdown-header">Product</li>
                             <li><a href='#/product/create'>Create</a></li>
                             <li><a ng-href="{{link}}" ng-click="$event.preventDefault(); linkClicked('/product/search')">Search</a>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                             <li class="dropdown-header"></li>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>
                         </ul>
                     </li>
                </ul>
            </li>
            <li class="dropdown dropdown-large">
            	<a class="dropdown-toggle" data-toggle="dropdown"><b>Report </b> <span class="caret"></span></a>
            	<ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-3"> 
                        <ul>
                             <li class="dropdown-header">Incident Reports By</li>
                             <li><a href='#/report/incidentreportbyproduct'>Product</a></li>
                             <li><a href='#/report/incidentweeklyreport'>Weekly</a></li>
                             <li><a href='#/report/incidentreport'>Single Incident</a></li>
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                            <li class="dropdown-header">Report Settings </li>
                            <li><a href='#/report/incidentreportsettings'>Settings</a></li>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                               <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>	
                         </ul>
                     </li>
                     <li class="col-sm-3">
                         <ul>
                             <li><img class"img-responsive" src="/plattrk/resources/images/white.png"/></li>
                         </ul>
                     </li>
                </ul>
            </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" style="padding-right: 20px" data-ng-show="user">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Welcome {{user.username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>