<div data-ng-init="init()">
    <div ng-hide="selectedGroup">
        <div style="padding-bottom: 1%; padding-top: 2%">
            <h2>Search Incident Groups</h2>
        </div>
        <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2">Count Total</label>
                <div class="col-xs-10 form-control-static">
                    {{data.totalCount}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Search Filters</label>
                <div class="col-xs-3">
                    <input type="text" ng-model="searchName" class="form-control" placeholder="Search by name">
                </div>
                <div class="col-xs-3">
                    <input type="text" ng-model="searchDesc" class="form-control" placeholder="Search by description">
                </div>
                <div class="col-xs-3 pull-right">
                    <button data-ng-disabled="progress.active()" data-ng-click="deleteAllGroupOrphans()"
                        class="btn btn-primary pull-right">Remove Orphan Groups</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th ng-click="sort('id')">Id
                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('name')">Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='name'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('description')">Description
                        <span class="glyphicon sort-icon" ng-show="sortKey=='description'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('status')">Status
                        <span class="glyphicon sort-icon" ng-show="sortKey=='status'"
                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="btn-link" dir-paginate="group in data.results|orderBy:sortKey:reverse|itemsPerPage:10"
                    total-items="data.totalCount" ng-click="select(group)">
                    <td>{{group.id}}</td>
                    <td>{{group.name}}</td>
                    <td>{{group.description + " " | addEllipsis}}</td>
                    <td>{{group.status}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
            on-page-change="getData(newPageNumber)">
        </dir-pagination-controls>
    </div>
    <div ng-hide="createResolution || createRootCA">
        <form class="form-horizontal" ng-show="selectedGroup" name="groupForm">
            <div>
                <a href="#" class="" onclick="event.preventDefault()" ng-click="cancel()">
                    <img src="/plattrk/resources/images/back.jpg" width="50" height="50" />
                </a>
            </div>
            <div ng-hide="loading">
                <div class="row" style="padding-bottom: 1%; padding-top: 2%">
                    <div class="col-sm-12">
                        <progressbar ng-show="createResolution" class="progress-striped active" max="200" value="200"
                            type="info"><i>Saving Resolution....</i>
                        </progressbar>
                        <progressbar ng-show="createRootCA" class="progress-striped active" max="200" value="200"
                            type="info"><i>Saving Root Cause....</i>
                        </progressbar>
                        <progressbar ng-show="!createRootCA && !createResolution" class="progress-striped active"
                            max="200" value="200" type="info"><i>Saving Group....</i>
                        </progressbar>
                    </div>
                </div>
            </div>
            <div ng-hide="hideDuringLoading">
                <div>
                    <h2>Incident Group Detail</h2>
                </div>

                <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : groupForm.groupName.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-7">
                        <input type="text" name="groupName" class="form-control" ng-model="selectedGroup.name" required
                            ng-required="groupNameRequired">
                        <p ng-show="groupForm.groupName.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : groupForm.groupDescription.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-7">
                        <textarea type="text" name="groupDescription" class="form-control" rows="5"
                            ng-model="selectedGroup.description" required ng-required="groupDescriptionRequired">
                        </textarea>
                        <p ng-show="groupForm.groupDescription.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-7">
                        <select class="form-control" ng-model="selectedGroup.status"
                            ng-options="c.name as c.name for c in groupStatuses"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-show="!disableButton" data-ng-click="update()">
                            Save
                        </button>
                        <button type="button" class="btn btn-primary" ng-show="!disableButton"
                            ng-click="showOnDelete()">
                            Delete
                        </button>
                        <button type="button" class="btn btn-primary" ng-show="!disableButton" ng-click="createRes()">
                            Create Resolution
                        </button>
                        <button type="button" class="btn btn-primary" ng-show="!disableButton" ng-click="createRCA()">
                            Create RCA
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="cancel()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form class="form-horizontal" ng-show="createResolution" name="resolutionForm">
        <div data-ng-controller="ResolutionChildController" class="table table-condensed">
            <div>
                <a href="#" class="" onclick="event.preventDefault()" ng-click="cancel()">
                    <img src="/plattrk/resources/images/back.jpg" width="50" height="50" />
                </a>
            </div>
            <div ng-hide="loading">
                <div class="row" style="padding-top: 2%">
                    <div class="col-sm-12">
                        <progressbar class="progress-striped active" max="200" value="200" type="info">
                            <i>{{waitMessage}}</i>
                        </progressbar>
                    </div>
                </div>
            </div>
            <div ng-hide="hideDuringLoading">
                <div>
                    <h2>Create Resolution</h2>
                </div>
                <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages">
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Incident Group Name</label>
                    <div name="name" class="col-md-7 form-control-static">
                        {{selectedGroup.name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Horizon</label>
                    <div class="col-sm-7">
                        <select required name="horizon" class="form-control" ng-model="resolution.horizon"
                            ng-options="item.displayName for item in horizons">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ownerRequired && submitted }">
                    <label class="col-sm-2 control-label">Owner</label>
                    <div class="col-sm-6">
                        <div multi-select input-model="owners" button-label="userName" helper-elements="filter"
                            output-model="ownerList" item-label="userName" tick-property="ticked">
                        </div>
                        <p ng-show="ownerRequired" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-7">
                        <select name="status" class="form-control" ng-model="resolution.status"
                            ng-options="item.displayName for item in statuses">
                        </select>
                    </div>
                </div>
                <div class="form-group"
                    ng-class="{ 'has-error' : resolutionForm.estCompletionDate.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Estimated Completion Date</label>
                    <div class="col-sm-7">
                        <input type="date" name="estCompletionDate" class="form-control"
                            ng-model="resolution.estCompletionDate" ng-required="estCompletionDateRequired">
                        <p ng-show="resolutionForm.estCompletionDate.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Actual Completion Date</label>
                    <div class="col-sm-7">
                        <input type="date" name="actualCompletionDate" class="form-control"
                            ng-model="resolution.actualCompletionDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-7">
                        <select name="type" class="form-control" ng-model="resolution.type"
                            ng-options="item.displayName for item in types">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">SRI Artifact</label>
                    <div class="col-sm-7">
                        <input type="text" name="sriArtifact" class="form-control" ng-model="resolution.sriArtifact">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : resolutionForm.description.$invalid && submitted }">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-7">
                        <textarea type="text" name="description" class="form-control" rows="5"
                            ng-model="resolution.description" ng-required="descriptionRequired">
                    </textarea>
                        <p ng-show="resolutionForm.description.$error.required" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" data-ng-disabled="progress.active()" ng-show="!disableButton"
                            data-ng-click="submit()">
                            Submit
                        </button>
                        <button class="btn btn-primary" data-ng-disabled="progress.active()" data-ng-click="cancel()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form class="form-horizontal" ng-show="createRootCA" name="rootCauseForm">
        <div data-ng-controller="RootCauseChildController" class="table table-condensed">
            <div>
                <a href="#" class="" onclick="event.preventDefault()" ng-click="cancel()">
                    <img src="/plattrk/resources/images/back.jpg" width="50" height="50" />
                </a>
            </div>
            <div ng-hide="loading">
                <div class="row" style="padding-top: 2%">
                    <div class="col-sm-12">
                        <progressbar class="progress-striped active" max="200" value="200" type="info">
                            <i>{{waitMessage}}</i>
                        </progressbar>
                    </div>
                </div>
            </div>
            <div ng-hide="hideDuringLoading">
                <div>
                    <h2>Create Root Cause</h2>
                </div>
                <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages">
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Incident Group Name</label>
                    <div name="name" class="col-md-7 form-control-static">
                        {{$parent.selectedGroup.name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-7">
                        <select name="status" class="form-control" ng-model="rca.status"
                            ng-options="item.displayName for item in statuses">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ownerRequired && submitted }">
                    <label class="col-sm-2 control-label">Owner</label>
                    <div class="col-sm-6">
                        <div multi-select input-model="owners" button-label="userName" helper-elements="filter"
                            output-model="ownerList" item-label="userName" tick-property="ticked">
                        </div>
                        <p ng-show="ownerRequired" class="help-block">Required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Problem Description</label>
                    <div name="description" class="col-sm-7">
                        <textarea type="text" class="form-control" rows="5"
                            ng-model="rca.problemDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Why's?</label>
                    <div class="col-sm-7">
                        <div class="panel-content">
                            <div>
                                <table class="table table-responsive" class="form-control">
                                    <tr ng-repeat="why in whys | filter:filterWhy">
                                        <td class=" editable-content table-responsive"><textarea type="text"
                                                class="form-control" rows="3" ng-model="why.name"></textarea></td>

                                        <td><button type="button" ng-click="deleteWhy(why.id)"
                                                class="btn btn-primary pull-right form-control">Delete
                                                Why</button></td>
                                    </tr>
                                </table>
                                <button type="button" ng-disabled="tableform.$waiting" ng-click="addWhy()"
                                    class="btn btn-primary ">Add Why</button>
                                <br /> <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Due Date</label>
                    <div class="col-sm-7">
                        <input type="date" name="dueDate" ng-model="rca.dueDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Completion Date</label>
                    <div class="col-sm-7">
                        <input type="date" name="completionDate" ng-model="rca.completionDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-7">
                        <select name="category" class="form-control" ng-model="rca.category"
                            ng-options="item.displayName for item in categories">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Resource</label>
                    <div class="col-sm-7">
                        <select name="resource" class="form-control" ng-model="rca.resource"
                            ng-options="item.displayName for item in resources">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" data-ng-disabled="progress.active()" ng-show="!disableButton"
                            data-ng-click="submit()">
                            Submit
                        </button>
                        <button class="btn btn-primary" data-ng-disabled="progress.active()" data-ng-click="cancel()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
            </dev>
    </form>
</div>